{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>
    {{#member}}
        <tr>
            <th>{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/member}}

    </tbody>
    <a href="/members/{{member.id}}/edit" class="btn btn-primary">Edit</a>
    <a href="/members/{{member.id}}/delete" class="btn btn-danger">Delete</a>
    <a href="/members">Go to member List</a>
</table>
{{>layouts/footer}}
